<launch>
  <!-- 启动SLAM节点 -->
  <include file="$(find slam_and_navi)/launch/gmapping_slam.launch" />
  <!-- 运行move_base节点 -->
  <include file="$(find slam_and_navi)/launch/move.launch" />
  <!-- 运行rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_and_navi)/config/navi_run.rviz" />
</launch>
